# Mac files
.DS_Store

# IDE settings
.vscode/
.python-version

# Cached files
__pycache__/
.pytest_cache/

# Sounds in the data directory
src/data/*.wav

# TeX output
tex/*.aux
tex/*.log
tex/*.pdf
indent.log
*.fls
*.synctex.gz
*.fdb_latexmk
